In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car data.csv')

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
selling_price = list(df['Selling_Price'])

In [30]:
import numpy as np
pmean = np.mean(selling_price)
psigma = np.std(selling_price)
print(pmean,psigma)

4.661295681063123 5.074361323307891

In [60]:
# a = np.random.choice(selling_price, (5))
a = [10,13,15,20,20]
a

[10, 13, 15, 20, 20]

In [63]:
smean = np.mean(a)
smean

15.6

In [78]:
z = (smean - pmean)/psigma
z

2.1556810053498747

In [119]:
significance = .025

# Finding Z value from scipy

In [120]:
import scipy.stats as st
zval = st.norm.ppf(significance)
zval

-1.9599639845400545

In [121]:
st.norm.cdf(-1.96)

0.024997895148220435

In [122]:
lcv = pmean - (zval*psigma/np.sqrt(5))
lcv

9.1090877599725

In [123]:
ucv = pmean + (zval*psigma/np.sqrt(5))
ucv

0.21350360215374575

In [113]:
print(lcv,ucv,pmean)

25.623994866521542 5.576005133478455 4.661295681063123

# Using Z Score

In [84]:
z = (smean - pmean)*np.sqrt(5)/psigma
z

4.8202492657674085

In [85]:
zcritical_values = st.norm.ppf(.025)
zcritical_values

-1.9599639845400545

# Using P values

In [86]:
alpha = 0.025
pvalue = 1 - z

In [73]:
print(alpha,pvalue)

0.025 -3.8202492657674085